src/main/mule/jenkins-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="648c1e39-2e5f-418a-9eae-9585caa5bd2b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkins-cicdFlow" doc:id="db975f23-0e2b-4321-92ac-ab77d37f0214" >
		<http:listener doc:name="Listener" doc:id="714de81e-1d90-4661-b324-9b5ccc77ef77" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<logger level="INFO" doc:name="Logger" doc:id="8f39119d-fdfc-45d6-aa15-60f737acd8d2" message="Flow Started !!!"/>
		<ee:transform doc:name="Transform Message" doc:id="66be008a-a6d2-4ae5-a4b2-aed36616d898" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Hello world"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="877600e7-d3c8-40c6-bf27-3271e8c0a72c" message="Flow Ended #[payload]"/>
	</flow>
</mule>
